In [1]:
# line magic
%pylab inline

import pandas as pd
import seaborn as sns
import requests
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from collections import defaultdict

%config InlineBackend.figure_format = 'svg'
sns.set_style("white")

Populating the interactive namespace from numpy and matplotlib

## Challenge 1

- Open up a new IPython notebook
- Download a few MTA turnstile data files
- Open up a file, use csv reader to read it and ensure there is a column for each feature (C/A, UNIT, SCP, STATION). These are the first four columns.

In [2]:
download = True

In [3]:
def read_mta_turnstile(start, end):    
    if download:
        # Parsing start and end dates
        first = datetime.strptime(start, '%y%m%d').date()
        last = datetime.strptime(end,'%y%m%d').date()

        # Get the Saturday in the week of start and end day and convert the list 
        # of datetimes into strings for the purpose of reading '.txt' files
        dates = pd.date_range(first, last, freq='W')
        dates = [date - timedelta(days=1) for date in dates]
        dates = [datetime.strftime(date, '%y%m%d') for date in dates]

        # Download turnstile data for specific dates 
        mta_dfs = []
        for this_date in dates:
            url = f'http://web.mta.info/developers/data/nyct/turnstile/turnstile_{this_date}.txt'
            print(f'downloading {url}')

            mta_dfs.append(
                pd.read_csv(url)
            )    
        df_mta = pd.concat(mta_dfs)
        # Back up the download file in local disk
        df_mta.to_csv('turnstile_backup.csv')
    else:
        df_mta = pd.read_csv('turnstile_backup.csv')
    
    return df_mta

In [4]:
download = False

In [5]:
df = read_mta_turnstile('180701','180725')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786756 entries, 0 to 786755
Data columns (total 12 columns):
Unnamed: 0                                                              786756 non-null int64
C/A                                                                     786756 non-null object
UNIT                                                                    786756 non-null object
SCP                                                                     786756 non-null object
STATION                                                                 786756 non-null object
LINENAME                                                                786756 non-null object
DIVISION                                                                786756 non-null object
DATE                                                                    786756 non-null object
TIME                                                                    786756 non-null object
DESC                                                                    786756 non-null object
ENTRIES                                                                 786756 non-null int64
EXITS                                                                   786756 non-null int64
dtypes: int64(3), object(9)
memory usage: 72.0+ MB

In [7]:
df.columns

Index(['Unnamed: 0', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [8]:
df.columns = df.columns.str.strip()
df.columns

Index(['Unnamed: 0', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
df.rename(columns={'Unnamed: 0':'week_index'}, inplace = True)

In [10]:
df.columns

Index(['week_index', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [11]:
df.sample(5)

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
535298,141478,R192,R039,00-00-03,MARBLE HILL-225,1,IRT,07/12/2018,00:00:00,REGULAR,267596,15618
100497,100497,N541,R241,01-06-00,15 ST-PROSPECT,FG,IND,06/25/2018,08:30:00,REGULAR,3112964,840954
158172,158172,R254,R181,01-00-01,110 ST,6,IRT,06/26/2018,12:00:00,REGULAR,4141098,1197441
172524,172524,R418,R106,00-06-01,CASTLE HILL AV,6,IRT,06/24/2018,08:00:00,REGULAR,3,135
632437,41630,N007A,R174,00-00-00,181 ST,A,IND,07/18/2018,05:00:00,REGULAR,9789611,10368195

# Challenge 2

- Let's turn this into a time series.
Create a new column that specifies the date and time of each entry.

You can convert the date and time into datetime objects -- That is a python class that represents a point in time. You can combine the date and time fields into a string and use the dateutil module to convert it into a datetime object. For an example check this StackOverflow question.

Also, check out this handy Pandas function.

In [12]:
df['DATETIME'] = df['DATE'] + ' ' + df['TIME']

In [13]:
df.sample(5)

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
372590,175900,R508,R346,00-00-02,COURT SQ,7,IRT,07/05/2018,08:00:00,REGULAR,1440432,740481,07/05/2018 08:00:00
510345,116525,PTH13,R541,00-04-02,THIRTY ST,1,PTH,07/11/2018,20:16:28,REGULAR,1635878,241116,07/11/2018 20:16:28
707286,116479,PTH16,R550,01-00-03,LACKAWANNA,1,PTH,07/19/2018,07:07:40,REGULAR,92199,130496,07/19/2018 07:07:40
45974,45974,N049,R084,01-00-00,59 ST COLUMBUS,ABCD1,IND,06/25/2018,16:00:00,REGULAR,2729799,11140912,06/25/2018 16:00:00
321498,124808,R112,R027,02-00-02,WALL ST,23,IRT,07/02/2018,16:00:00,REGULAR,1286656,1051780,07/02/2018 16:00:00

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786756 entries, 0 to 786755
Data columns (total 13 columns):
week_index    786756 non-null int64
C/A           786756 non-null object
UNIT          786756 non-null object
SCP           786756 non-null object
STATION       786756 non-null object
LINENAME      786756 non-null object
DIVISION      786756 non-null object
DATE          786756 non-null object
TIME          786756 non-null object
DESC          786756 non-null object
ENTRIES       786756 non-null int64
EXITS         786756 non-null int64
DATETIME      786756 non-null object
dtypes: int64(3), object(10)
memory usage: 78.0+ MB

In [15]:
df['DATETIME'] = pd.to_datetime(df['DATETIME'], format="%m/%d/%Y %H:%M:%S")

In [16]:
df.sample(5)

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
731729,140922,R192,R039,00-06-00,MARBLE HILL-225,1,IRT,07/20/2018,08:00:00,REGULAR,37397,199300,2018-07-20 08:00:00
385187,188497,R612,R057,01-00-05,ATL AV-BARCLAY,BDNQR2345,IRT,07/02/2018,00:00:00,REGULAR,1114315,812206,2018-07-02 00:00:00
689059,98252,N528,R257,01-05-00,EAST BROADWAY,F,IND,07/15/2018,04:00:00,REGULAR,249,0,2018-07-15 04:00:00
587162,193342,R643,R135,00-03-00,NEWKIRK AV,25,IRT,07/07/2018,01:00:00,REGULAR,986907,188029,2018-07-07 01:00:00
290914,94224,N506,R022,00-03-02,34 ST-HERALD SQ,BDFMNQRW,IND,07/04/2018,16:00:00,REGULAR,42961,54581,2018-07-04 16:00:00

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786756 entries, 0 to 786755
Data columns (total 13 columns):
week_index    786756 non-null int64
C/A           786756 non-null object
UNIT          786756 non-null object
SCP           786756 non-null object
STATION       786756 non-null object
LINENAME      786756 non-null object
DIVISION      786756 non-null object
DATE          786756 non-null object
TIME          786756 non-null object
DESC          786756 non-null object
ENTRIES       786756 non-null int64
EXITS         786756 non-null int64
DATETIME      786756 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 78.0+ MB

# Challenge 3

- These counts are for every n hours. (What is n?) We want total daily entries.
Calculate to total daily entries for each turnstile.

Your result should be a new data frame that has the same keys, but now we have a single value for a single day, which is the total number of passengers that entered through this turnstile on this day.

In [18]:
# first, let's make sure everything is sorted so that sequential dates for individual turnstiles are adjacent
df.sort_values(by=['STATION', 'UNIT', 'C/A', 'SCP', 'DATETIME'], inplace=True)
df.head()

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
29956,29956,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,00:00:00,REGULAR,13666640,15323756,2018-06-23 00:00:00
29957,29957,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,04:00:00,REGULAR,13666747,15324046,2018-06-23 04:00:00
29958,29958,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,08:00:00,REGULAR,13666837,15324374,2018-06-23 08:00:00
29959,29959,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,12:00:00,REGULAR,13667339,15325173,2018-06-23 12:00:00
29960,29960,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,16:00:00,REGULAR,13668090,15326274,2018-06-23 16:00:00

In [19]:
# compute differences between ENTRIES and store in a new column
# note: periods=-1 computes the difference between the value in a row and the value in the next row
df['ENTRY_DIFF'] = (df.groupby(['STATION', 'UNIT', 'C/A', 'SCP'])['ENTRIES']
                           .diff(periods=-1)) * -1

In [20]:
df.head()

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,ENTRY_DIFF
29956,29956,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,00:00:00,REGULAR,13666640,15323756,2018-06-23 00:00:00,107.0
29957,29957,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,04:00:00,REGULAR,13666747,15324046,2018-06-23 04:00:00,90.0
29958,29958,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,08:00:00,REGULAR,13666837,15324374,2018-06-23 08:00:00,502.0
29959,29959,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,12:00:00,REGULAR,13667339,15325173,2018-06-23 12:00:00,751.0
29960,29960,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,16:00:00,REGULAR,13668090,15326274,2018-06-23 16:00:00,682.0

In [21]:
print(
    df['C/A'].nunique(),
    df['UNIT'].nunique(),
    df['SCP'].nunique(),
    df['STATION'].nunique()
)

733 465 218 377

In [22]:
 df['EXIT_DIFF'] = (df.groupby(['STATION', 'UNIT', 'C/A', 'SCP'])['EXITS']
                        .diff(periods=-1) * -1)

In [23]:
df.head()

,week_index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,ENTRY_DIFF,EXIT_DIFF
29956,29956,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,00:00:00,REGULAR,13666640,15323756,2018-06-23 00:00:00,107.0,290.0
29957,29957,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,04:00:00,REGULAR,13666747,15324046,2018-06-23 04:00:00,90.0,328.0
29958,29958,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,08:00:00,REGULAR,13666837,15324374,2018-06-23 08:00:00,502.0,799.0
29959,29959,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,12:00:00,REGULAR,13667339,15325173,2018-06-23 12:00:00,751.0,1101.0
29960,29960,H007,R248,00-00-00,1 AV,L,BMT,06/23/2018,16:00:00,REGULAR,13668090,15326274,2018-06-23 16:00:00,682.0,1203.0

In [24]:
# There are some outliers...
df['ENTRY_DIFF'].min()

-1646681276.0

In [25]:
# filter to rows that meet specific conditions
df = df[(df['ENTRY_DIFF'] >= 0)
          & (df['ENTRY_DIFF'] < 100000)
          & (df['EXIT_DIFF'] >= 0)
          & (df['EXIT_DIFF'] < 100000)]

In [26]:
df['ENTRY_DIFF'].min()

-0.0

In [27]:
df['EXIT_DIFF'].min()

-0.0

In [28]:
# sum the daily entries
df.groupby(['C/A', 'SCP', 'DATE'])['ENTRY_DIFF'].sum()

C/A    SCP       DATE
A002   02-00-00  06/23/2018     830.0
                 06/24/2018     606.0
                 06/25/2018    1378.0
                 06/26/2018    1234.0
                 06/27/2018    1481.0
                 06/28/2018    1422.0
                 06/29/2018    1422.0
                 06/30/2018     718.0
                 07/01/2018     521.0
                 07/02/2018    1356.0
                 07/03/2018    1331.0
                 07/04/2018     601.0
                 07/05/2018    1309.0
                 07/06/2018    1287.0
                 07/07/2018     642.0
                 07/08/2018     458.0
                 07/09/2018    1427.0
                 07/10/2018    1374.0
                 07/11/2018    1458.0
                 07/12/2018    1441.0
                 07/13/2018    1362.0
                 07/14/2018      20.0
                 07/15/2018       0.0
                 07/16/2018    1363.0
                 07/17/2018    1345.0
                 07/18/2018    1495.0
                 07/19/2018    1351.0
                 07/20/2018    1194.0
       02-00-01  06/23/2018     768.0
                 06/24/2018     518.0
                                ...
TRAM2  00-05-00  07/06/2018       8.0
                 07/07/2018       1.0
                 07/08/2018       2.0
                 07/09/2018       1.0
                 07/10/2018       1.0
                 07/11/2018       0.0
                 07/12/2018       1.0
                 07/13/2018       1.0
                 07/14/2018       2.0
                 07/15/2018       0.0
                 07/16/2018       2.0
                 07/17/2018       0.0
                 07/18/2018       0.0
                 07/19/2018       2.0
                 07/20/2018       3.0
       00-05-01  07/06/2018       0.0
                 07/07/2018       0.0
                 07/08/2018       0.0
                 07/09/2018       0.0
                 07/10/2018       0.0
                 07/11/2018       0.0
                 07/12/2018       0.0
                 07/13/2018       0.0
                 07/14/2018       0.0
                 07/15/2018       0.0
                 07/16/2018       0.0
                 07/17/2018       0.0
                 07/18/2018       0.0
                 07/19/2018       0.0
                 07/20/2018       0.0
Name: ENTRY_DIFF, Length: 130019, dtype: float64

In [29]:
# use reset_index to create a dataframe from a groupby object
df_mta_daily_entries = df.groupby(['C/A', 'SCP', 'DATE'])['ENTRY_DIFF'].sum().reset_index()
df_mta_daily_entries

          C/A       SCP        DATE  ENTRY_DIFF
0        A002  02-00-00  06/23/2018       830.0
1        A002  02-00-00  06/24/2018       606.0
2        A002  02-00-00  06/25/2018      1378.0
3        A002  02-00-00  06/26/2018      1234.0
4        A002  02-00-00  06/27/2018      1481.0
5        A002  02-00-00  06/28/2018      1422.0
6        A002  02-00-00  06/29/2018      1422.0
7        A002  02-00-00  06/30/2018       718.0
8        A002  02-00-00  07/01/2018       521.0
9        A002  02-00-00  07/02/2018      1356.0
10       A002  02-00-00  07/03/2018      1331.0
11       A002  02-00-00  07/04/2018       601.0
12       A002  02-00-00  07/05/2018      1309.0
13       A002  02-00-00  07/06/2018      1287.0
14       A002  02-00-00  07/07/2018       642.0
15       A002  02-00-00  07/08/2018       458.0
16       A002  02-00-00  07/09/2018      1427.0
17       A002  02-00-00  07/10/2018      1374.0
18       A002  02-00-00  07/11/2018      1458.0
19       A002  02-00-00  07/12/2018      1441.0
20       A002  02-00-00  07/13/2018      1362.0
21       A002  02-00-00  07/14/2018        20.0
22       A002  02-00-00  07/15/2018         0.0
23       A002  02-00-00  07/16/2018      1363.0
24       A002  02-00-00  07/17/2018      1345.0
25       A002  02-00-00  07/18/2018      1495.0
26       A002  02-00-00  07/19/2018      1351.0
27       A002  02-00-00  07/20/2018      1194.0
28       A002  02-00-01  06/23/2018       768.0
29       A002  02-00-01  06/24/2018       518.0
...       ...       ...         ...         ...
129989  TRAM2  00-05-00  07/06/2018         8.0
129990  TRAM2  00-05-00  07/07/2018         1.0
129991  TRAM2  00-05-00  07/08/2018         2.0
129992  TRAM2  00-05-00  07/09/2018         1.0
129993  TRAM2  00-05-00  07/10/2018         1.0
129994  TRAM2  00-05-00  07/11/2018         0.0
129995  TRAM2  00-05-00  07/12/2018         1.0
129996  TRAM2  00-05-00  07/13/2018         1.0
129997  TRAM2  00-05-00  07/14/2018         2.0
129998  TRAM2  00-05-00  07/15/2018         0.0
129999  TRAM2  00-05-00  07/16/2018         2.0
130000  TRAM2  00-05-00  07/17/2018         0.0
130001  TRAM2  00-05-00  07/18/2018         0.0
130002  TRAM2  00-05-00  07/19/2018         2.0
130003  TRAM2  00-05-00  07/20/2018         3.0
130004  TRAM2  00-05-01  07/06/2018         0.0
130005  TRAM2  00-05-01  07/07/2018         0.0
130006  TRAM2  00-05-01  07/08/2018         0.0
130007  TRAM2  00-05-01  07/09/2018         0.0
130008  TRAM2  00-05-01  07/10/2018         0.0
130009  TRAM2  00-05-01  07/11/2018         0.0
130010  TRAM2  00-05-01  07/12/2018         0.0
130011  TRAM2  00-05-01  07/13/2018         0.0
130012  TRAM2  00-05-01  07/14/2018         0.0
130013  TRAM2  00-05-01  07/15/2018         0.0
130014  TRAM2  00-05-01  07/16/2018         0.0
130015  TRAM2  00-05-01  07/17/2018         0.0
130016  TRAM2  00-05-01  07/18/2018         0.0
130017  TRAM2  00-05-01  07/19/2018         0.0
130018  TRAM2  00-05-01  07/20/2018         0.0

[130019 rows x 4 columns]

## Challenge 4

Now plot the daily time series for a turnstile.

In [30]:
df_mta_daily_entries.sample(5)

          C/A       SCP        DATE  ENTRY_DIFF
41148   N121B  00-00-02  07/16/2018      1254.0
98123   R226A  03-06-00  07/01/2018       169.0
92975    R186  00-00-03  07/01/2018         5.0
92947    R186  00-00-02  07/01/2018        20.0
121295   R533  00-03-04  07/20/2018      2111.0

In [31]:
df_single_SCP = df_mta_daily_entries[(df_mta_daily_entries['C/A'] == 'N501') &
                     (df_mta_daily_entries['SCP'] == '01-00-03')]

In [32]:
df_single_SCP

        C/A       SCP        DATE  ENTRY_DIFF
60225  N501  01-00-03  06/23/2018       610.0
60226  N501  01-00-03  06/24/2018       438.0
60227  N501  01-00-03  06/25/2018      1936.0
60228  N501  01-00-03  06/26/2018      2237.0
60229  N501  01-00-03  06/27/2018      2337.0
60230  N501  01-00-03  06/28/2018      2317.0
60231  N501  01-00-03  06/29/2018      2154.0
60232  N501  01-00-03  06/30/2018       592.0
60233  N501  01-00-03  07/01/2018       414.0
60234  N501  01-00-03  07/02/2018      1913.0
60235  N501  01-00-03  07/03/2018      1836.0
60236  N501  01-00-03  07/04/2018       442.0
60237  N501  01-00-03  07/05/2018      1659.0
60238  N501  01-00-03  07/06/2018      1539.0
60239  N501  01-00-03  07/07/2018         0.0
60240  N501  01-00-03  07/08/2018         0.0
60241  N501  01-00-03  07/09/2018      1977.0
60242  N501  01-00-03  07/10/2018      2178.0
60243  N501  01-00-03  07/11/2018      2171.0
60244  N501  01-00-03  07/12/2018      2175.0
60245  N501  01-00-03  07/13/2018      1997.0
60246  N501  01-00-03  07/14/2018       505.0
60247  N501  01-00-03  07/15/2018       403.0
60248  N501  01-00-03  07/16/2018      2106.0
60249  N501  01-00-03  07/17/2018      2622.0
60250  N501  01-00-03  07/18/2018      2313.0
60251  N501  01-00-03  07/19/2018      2309.0
60252  N501  01-00-03  07/20/2018      1924.0

In [38]:
x = df_single_SCP.DATE; y = df_single_SCP.ENTRY_DIFF
plt.plot(x,y)
plt.xticks(range(0,len(x),3), df_single_SCP.DATE[::3], rotation = 90)
plt.show()

## Challenge 5

- So far we've been operating on a single turnstile level, let's combine turnstiles in the same ControlArea/Unit/Station combo. There are some ControlArea/Unit/Station groups that have a single turnstile, but most have multiple turnstilea-- same value for the C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each ControlArea/UNIT/STATION combo, for each day, add the counts from each turnstile belonging to that combo.

In [41]:
df_combo = df.groupby(['C/A','UNIT','STATION','DATE'])['ENTRY_DIFF'].sum().reset_index()

In [42]:
df_combo

         C/A  UNIT        STATION        DATE  ENTRY_DIFF
0       A002  R051          59 ST  06/23/2018      8197.0
1       A002  R051          59 ST  06/24/2018      6341.0
2       A002  R051          59 ST  06/25/2018     12693.0
3       A002  R051          59 ST  06/26/2018     13361.0
4       A002  R051          59 ST  06/27/2018     13592.0
5       A002  R051          59 ST  06/28/2018     13153.0
6       A002  R051          59 ST  06/29/2018     13539.0
7       A002  R051          59 ST  06/30/2018      7283.0
8       A002  R051          59 ST  07/01/2018      5722.0
9       A002  R051          59 ST  07/02/2018     12068.0
10      A002  R051          59 ST  07/03/2018     12480.0
11      A002  R051          59 ST  07/04/2018      5875.0
12      A002  R051          59 ST  07/05/2018     11786.0
13      A002  R051          59 ST  07/06/2018     11745.0
14      A002  R051          59 ST  07/07/2018      6927.0
15      A002  R051          59 ST  07/08/2018      5399.0
16      A002  R051          59 ST  07/09/2018     12573.0
17      A002  R051          59 ST  07/10/2018     12870.0
18      A002  R051          59 ST  07/11/2018     13316.0
19      A002  R051          59 ST  07/12/2018     13549.0
20      A002  R051          59 ST  07/13/2018     12934.0
21      A002  R051          59 ST  07/14/2018        30.0
22      A002  R051          59 ST  07/15/2018         0.0
23      A002  R051          59 ST  07/16/2018     12176.0
24      A002  R051          59 ST  07/17/2018     12629.0
25      A002  R051          59 ST  07/18/2018     13477.0
26      A002  R051          59 ST  07/19/2018     12946.0
27      A002  R051          59 ST  07/20/2018     10981.0
28      A006  R079     5 AV/59 ST  06/23/2018      5838.0
29      A006  R079     5 AV/59 ST  06/24/2018      5479.0
...      ...   ...            ...         ...         ...
20394  TRAM1  R468  RIT-MANHATTAN  07/19/2018      3782.0
20395  TRAM1  R468  RIT-MANHATTAN  07/20/2018      3566.0
20396  TRAM2  R469  RIT-ROOSEVELT  06/23/2018      2487.0
20397  TRAM2  R469  RIT-ROOSEVELT  06/24/2018      2638.0
20398  TRAM2  R469  RIT-ROOSEVELT  06/25/2018      2848.0
20399  TRAM2  R469  RIT-ROOSEVELT  06/26/2018      2606.0
20400  TRAM2  R469  RIT-ROOSEVELT  06/27/2018      2913.0
20401  TRAM2  R469  RIT-ROOSEVELT  06/28/2018      2466.0
20402  TRAM2  R469  RIT-ROOSEVELT  06/29/2018      3236.0
20403  TRAM2  R469  RIT-ROOSEVELT  06/30/2018      5195.0
20404  TRAM2  R469  RIT-ROOSEVELT  07/01/2018      4468.0
20405  TRAM2  R469  RIT-ROOSEVELT  07/02/2018      2541.0
20406  TRAM2  R469  RIT-ROOSEVELT  07/03/2018      2703.0
20407  TRAM2  R469  RIT-ROOSEVELT  07/04/2018      4160.0
20408  TRAM2  R469  RIT-ROOSEVELT  07/05/2018      3253.0
20409  TRAM2  R469  RIT-ROOSEVELT  07/06/2018      3193.0
20410  TRAM2  R469  RIT-ROOSEVELT  07/07/2018      4100.0
20411  TRAM2  R469  RIT-ROOSEVELT  07/08/2018      4044.0
20412  TRAM2  R469  RIT-ROOSEVELT  07/09/2018      3154.0
20413  TRAM2  R469  RIT-ROOSEVELT  07/10/2018      3147.0
20414  TRAM2  R469  RIT-ROOSEVELT  07/11/2018      2734.0
20415  TRAM2  R469  RIT-ROOSEVELT  07/12/2018      3725.0
20416  TRAM2  R469  RIT-ROOSEVELT  07/13/2018      3675.0
20417  TRAM2  R469  RIT-ROOSEVELT  07/14/2018      4545.0
20418  TRAM2  R469  RIT-ROOSEVELT  07/15/2018      3375.0
20419  TRAM2  R469  RIT-ROOSEVELT  07/16/2018      3116.0
20420  TRAM2  R469  RIT-ROOSEVELT  07/17/2018      2525.0
20421  TRAM2  R469  RIT-ROOSEVELT  07/18/2018      3693.0
20422  TRAM2  R469  RIT-ROOSEVELT  07/19/2018      3462.0
20423  TRAM2  R469  RIT-ROOSEVELT  07/20/2018      3505.0

[20424 rows x 5 columns]

## Challenge 6

Similarly, combine everything in each station, and come up with a time series of [(date1, count1),(date2,count2),...] type of time series for each STATION, by adding up all the turnstiles in a station.

In [44]:
df_station = df.groupby(['STATION','DATE'])['ENTRY_DIFF'].sum().reset_index()

In [46]:
df_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10520 entries, 0 to 10519
Data columns (total 3 columns):
STATION       10520 non-null object
DATE          10520 non-null object
ENTRY_DIFF    10520 non-null float64
dtypes: float64(1), object(2)
memory usage: 246.6+ KB

In [47]:
df_station['DATE'] = pd.to_datetime(df_station['DATE'], format = '%m/%d/%Y')

In [48]:
df_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10520 entries, 0 to 10519
Data columns (total 3 columns):
STATION       10520 non-null object
DATE          10520 non-null datetime64[ns]
ENTRY_DIFF    10520 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 246.6+ KB

In [49]:
df_station.index = df_station.DATE

In [53]:
df_station.drop('DATE', axis =1, inplace = True)

In [57]:
df_station = df_station.pivot(columns='STATION',values='ENTRY_DIFF')

In [58]:
df_station

STATION,1 AV,103 ST,103 ST-CORONA,104 ST,110 ST,111 ST,116 ST,116 ST-COLUMBIA,121 ST,125 ST,...,WESTCHESTER SQ,WHITEHALL S-FRY,WHITLOCK AV,WILSON AV,WINTHROP ST,WOODHAVEN BLVD,WOODLAWN,WORLD TRADE CTR,YORK ST,ZEREGA AV
DATE,,,,,,,,,,,,,,,,,,,,,
2018-06-23,17425.0,19630.0,11396.0,1597.0,4880.0,10439.0,18584.0,5544.0,764.0,50319.0,...,2628.0,7659.0,611.0,3464.0,2919.0,15478.0,4433.0,8066.0,5351.0,1270.0
2018-06-24,16773.0,17295.0,8782.0,1239.0,5158.0,8573.0,18718.0,5374.0,603.0,44233.0,...,2211.0,8869.0,573.0,3156.0,2387.0,13072.0,3673.0,6818.0,6425.0,1153.0
2018-06-25,20294.0,32128.0,19517.0,3095.0,10607.0,16492.0,31620.0,14479.0,1270.0,74622.0,...,6165.0,20747.0,1749.0,4590.0,7280.0,25704.0,7258.0,19433.0,11696.0,2596.0
2018-06-26,21530.0,33334.0,20366.0,3208.0,10803.0,17018.0,33252.0,14771.0,1253.0,77131.0,...,6374.0,21379.0,1850.0,4583.0,7528.0,26832.0,7388.0,19077.0,12195.0,2674.0
2018-06-27,20989.0,31896.0,19422.0,3090.0,9995.0,16018.0,31000.0,15778.0,1225.0,73651.0,...,5784.0,20954.0,1683.0,4337.0,7161.0,24863.0,6989.0,18745.0,11689.0,2540.0
2018-06-28,21499.0,42924.0,18803.0,2937.0,9689.0,15538.0,30432.0,14889.0,1154.0,70929.0,...,5595.0,20730.0,1605.0,4238.0,6843.0,24063.0,6947.0,19996.0,11847.0,2507.0
2018-06-29,22462.0,19455.0,19744.0,2964.0,10382.0,15867.0,32003.0,13997.0,1231.0,75594.0,...,5759.0,22057.0,1685.0,4446.0,6749.0,25120.0,7348.0,19625.0,11748.0,2412.0
2018-06-30,16792.0,18639.0,14171.0,854.0,6792.0,10214.0,83933.0,5723.0,65.0,50229.0,...,2933.0,15553.0,911.0,3335.0,3040.0,11269.0,5065.0,10632.0,5575.0,1383.0
2018-07-01,11948.0,14015.0,10712.0,567.0,5013.0,7079.0,8539.0,4383.0,26.0,39879.0,...,2035.0,11861.0,729.0,2747.0,2246.0,7870.0,3470.0,8385.0,3564.0,1005.0
2018-07-02,18457.0,27983.0,18361.0,2703.0,9111.0,14943.0,15445.0,12521.0,1134.0,67228.0,...,5508.0,20401.0,1570.0,4143.0,6649.0,23350.0,6652.0,19037.0,10421.0,2270.0
2018-07-03,19482.0,29082.0,18782.0,2833.0,9624.0,14995.0,16243.0,12392.0,1133.0,68961.0,...,5370.0,19757.0,1580.0,4349.0,6787.0,23806.0,6964.0,19088.0,10259.0,2384.0
2018-07-04,14722.0,17302.0,11730.0,1376.0,5554.0,9071.0,9020.0,4944.0,594.0,40186.0,...,2236.0,9237.0,914.0,2978.0,2610.0,13541.0,4077.0,7448.0,7525.0,1033.0
2018-07-05,18643.0,27879.0,18951.0,2766.0,9011.0,14851.0,15479.0,11708.0,1072.0,66788.0,...,5337.0,19994.0,1615.0,4076.0,6441.0,23268.0,6624.0,18702.0,10215.0,2326.0
2018-07-06,18934.0,28204.0,18967.0,2836.0,9230.0,14892.0,15702.0,11563.0,1121.0,67784.0,...,5402.0,17639.0,1622.0,4216.0,6026.0,23009.0,6330.0,17951.0,8143.0,2265.0
2018-07-07,15518.0,17545.0,14821.0,799.0,6876.0,10353.0,17321.0,5770.0,35.0,48050.0,...,2506.0,11636.0,1027.0,3255.0,5.0,10246.0,4421.0,8659.0,0.0,922.0
2018-07-08,12844.0,14312.0,11180.0,623.0,5824.0,7465.0,15041.0,5356.0,23.0,40702.0,...,1743.0,8371.0,819.0,2800.0,2.0,7723.0,3707.0,6447.0,0.0,727.0
2018-07-09,19241.0,29860.0,19536.0,2991.0,9812.0,15815.0,29602.0,13871.0,1184.0,72320.0,...,6032.0,21299.0,1764.0,4352.0,6899.0,24094.0,6790.0,19645.0,11066.0,2493.0
2018-07-10,20356.0,31756.0,19980.0,3138.0,9914.0,15963.0,30686.0,14595.0,1176.0,74271.0,...,6207.0,21043.0,1772.0,4284.0,7235.0,24638.0,7162.0,20428.0,11472.0,2568.0
2018-07-11,20590.0,32297.0,20000.0,3099.0,9938.0,16155.0,30481.0,14729.0,1195.0,75396.0,...,6021.0,21279.0,1816.0,4439.0,7273.0,24752.0,7496.0,20382.0,11885.0,2630.0
2018-07-12,20852.0,32230.0,20002.0,3151.0,10316.0,16117.0,31560.0,14778.0,1201.0,75970.0,...,6117.0,22340.0,1797.0,4386.0,6842.0,25182.0,7165.0,21102.0,12170.0,2676.0
2018-07-13,21781.0,31508.0,20164.0,3071.0,10385.0,16231.0,31383.0,13749.0,1224.0,75207.0,...,5945.0,21060.0,1732.0,4381.0,6931.0,25060.0,6946.0,20325.0,11490.0,2467.0
2018-07-14,17371.0,19112.0,14981.0,1638.0,6638.0,11869.0,21666.0,6040.0,641.0,49325.0,...,2887.0,14816.0,1030.0,3540.0,2925.0,15027.0,4543.0,13900.0,6262.0,1354.0
2018-07-15,12810.0,14851.0,11039.0,1178.0,4822.0,8062.0,16342.0,4820.0,516.0,38572.0,...,1930.0,9665.0,771.0,2684.0,2092.0,11217.0,3200.0,9387.0,5449.0,964.0
2018-07-16,19216.0,30006.0,19498.0,3042.0,9624.0,15621.0,30597.0,13540.0,1262.0,71587.0,...,5692.0,21671.0,1768.0,4299.0,7083.0,24255.0,6821.0,19934.0,11435.0,2485.0
2018-07-17,19001.0,30110.0,19092.0,2977.0,9305.0,15608.0,29135.0,14557.0,1218.0,70124.0,...,5607.0,21999.0,1768.0,4064.0,6995.0,23593.0,6940.0,20986.0,11091.0,2518.0
2018-07-18,20905.0,32241.0,20240.0,3081.0,10268.0,16233.0,32087.0,14994.0,1266.0,76265.0,...,6163.0,21839.0,1822.0,4369.0,7367.0,25470.0,7380.0,21329.0,12346.0,2644.0
2018-07-19,21052.0,32116.0,19824.0,3176.0,10087.0,16244.0,31903.0,15352.0,1306.0,76757.0,...,6013.0,21912.0,1812.0,4391.0,7244.0,25294.0,7248.0,21534.0,12478.0,2592.0
2018-07-20,17236.0,29112.0,18755.0,2874.0,9071.0,15114.0,29011.0,12538.0,1091.0,66723.0,...,5401.0,19837.0,1599.0,4021.0,6655.0,23597.0,6541.0,17936.0,10266.0,2395.0

## Challenge 7

Plot the time series (either daily or your preferred level of granularity) for a station.

In [67]:
def plot_a_station(station_name):
    plt.plot(df_station[station_name])
    plt.xticks(rotation = 90)
    plt.show()

In [68]:
plot_a_station('1 AV')

In [69]:
plot_a_station('103 ST-CORONA')

## Challenge 8

Select a station and find the total daily counts for this station. Then plot those daily counts for each week separately.

To clarify: if I have 10 weeks of data on the 28th st 6 station, I will add 10 lines to the same figure (e.g. running plt.plot(week_count_list) once for each week). Each plot will have 7 points of data.

In [115]:
a = df_station.index

In [119]:
a.weekday

Int64Index([5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5,
            6, 0, 1, 2, 3, 4],
           dtype='int64', name='DATE')

In [120]:
def plot_week_count_list(station_name):
    a = df_station.index[0]
    ticks_x = np.linspace(0,6,7)
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
    # while a < df_station.index[-1]:
    x = a.weekday
    y = df_station.station_name[x]
    plt.plot(x, y)
    plt.legend(a.strftime(format = '%Y-%m-%d'))
    #    a += timedelta(days=7)
    plt.xticks(ticks_x, days, fontsize = '20')  
    return y

In [121]:
plot_week_count_list('1 AV')

AttributeError: 'DataFrame' object has no attribute 'station_name'